.chat-container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 93vh;
}

.sidebar {
    width: 300px;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    overflow-y: auto;
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.conversation-list {
    list-style-type: none;
    padding: 0;
}

.conversation-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
}

.conversation-item .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conversation-item .info .last-message {
    font-size: 12px;
}

.conversation-item:hover {
    background-color: #f0f2f5;
}

.conversation-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-area {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #636e73;
}

.chat-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    overflow-y: auto;
    max-width: 70%;
    margin-bottom: 20px;
    clear: both;
    font-size: 13px;
}

.message-content {
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

.message.sent {
    float: right;
}

.message.sent .message-content {
    background-color: #db3434;
    color: #fff;
    font-size: 13px;
}

.message.received {
    float: left;
}

.message.received .message-content {
    background-color: #f0f2f5;
}

.message-time {
    font-size: 10px;
    color: #636e73;
    margin-top: 5px;
}

.message-images {
    display: flex;
    gap: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #65676B;
}

.message-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    margin-top: 20px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #db3434;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.message-status {
    font-size: 12px;
    color: #636e73; /* Adjust color as needed */
    margin-top: 5px;
}

.date-separator {
    text-align: center;
    margin: 10px 0; /* Adjust vertical spacing as needed */
    font-size: 14px;
    color: #666;
    font-weight: lighter;
    clear: both; /* Ensures it doesn't overlap with floating elements */
    padding-top: 10px; /* Adjust padding to control spacing */
}

