.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    animation: modalFadeIn 0.3s ease-out;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.modal-title {
    font-size: 1.3em;
    color: #2c3e50;
    margin: 0;
    font-weight: 500;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #2c3e50;
}

/* Form Styles */
.form-content {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 48%;
}

.form-group {
    margin-bottom: 13px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 13px;
    color: #2c3e50;
}

.form-group span {
    display: inline-block;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    color: #2c3e50;
}

.form-group input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #2c3e50;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-actions {
    text-align: right;
    margin-top: 30px;
    border-top: 2px solid #eee;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 300;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-sec {
    background-color: #DD5341;
    color: white; 
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-primary:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-sec:hover {
    background-color: #c34747;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

