/* LOGIN TEXT */

.image-overlay {
    color: #fff;
}

.image-overlay p {
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 80%;
}
.tagline {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
}


/* SECRETARY */
.sign-in-btn:hover,
.register-btn:hover{
    background-color: #b73c3c;
}